body {
    text-align: center;
}

/* Styling rules for navigation bar at top of screen */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid black;
    background-color: gainsboro;
    position: fixed;
    top: 0;
    width: 100%;
}
  
.navbarItem {
    float: left;
    border-right:1px solid black;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

/* Specific styling for the text within the navbar tabs */
li a {
    text-decoration: none;
    color: #000;
}
  
li:hover {
    background-color: grey;
}

/* Styling for the dynamically generated table */
th, td, p {
    font: 15px 'Segoe UI';
}

table, th, td {
    border: solid 1px #ddd;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
}

th {
    font-weight: bold;
}

/* Styling for Dark/Light themes */
.buttonHolder {
    display: flex;
    float: right;
    margin-right: 2%;
}
  
.themeLight {
    height: 25px;
    width: 60px;
    border-radius: 10%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #cbd5e0;
    color: #1a202c;
}
  
.themeDark {
    height: 25px;
    width: 60px;
    border-radius: 10%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #2d3748;
    color: #e2e8f0;
}
  
.themeLight:hover {
    background-color: #e2e8f0;
}
  
.themeDark:hover {
    background-color: #1a202c;
}

.navigationBarDark {
    background-color: #2d3748;
}

.navigationBarLight {
    background-color: gainsboro;
}

.navbarItemDark {
    color: white;
}

.navbarItemLight {
    color: black;
}