
:root {
    --blue: rgb( 26, 57, 87 );
    --white: rgb( 236, 236, 236 );
}
body {
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    background: var(--background-color);
    color: var(--text-color);
    font-weight: var(--font-weight);
    transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
}

h1 {
    text-align: center;
}

.formField {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

body.light {
    --background-color: var(--white);
    --text-color: var(--blue);
    --font-weight: 400;
}
  
body.dark {
    --background-color: var(--blue);
    --text-color: var(--white);
    --font-weight: 500;
}

#darkMode {
    background: transparent url( "logo.svg" ) no-repeat center;
    background-size: 30px 30px;
    width: 45px;
    height: 45px;
    filter: grayscale(100%);
    border: none;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
}

#darkMode:hover,
#darkMode:focus {
    filter: none;
    background-color: black;
    cursor: pointer;
}

#darkMode.clicked {
    filter: none !important;
    background-color: black;
}
  
.card-container.card {
    max-width: 450px !important;
    padding: 30px 30px;
}
  
.card {
    background-color: #f7f7f7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
  
.card-img-profile {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.title-light {
    text-align: center;
    color : black
}

.title-dark {
    text-align: center;
    color: white;
}

.card-light {
    background-color: white!important;
}

.card-dark {
    background-color: black!important;
}

.active.carousel-item::after {
    content:"";
    display: block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.5);
    z-index: 1;
}

.carousel-caption {
    z-index: 2;
}